[package]
name = "jupiter-runtime"
version = "0.1.0"
authors = ["Jupiter <https://github.com/patractlabs/jupiter>"]
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, features = ["derive"] }
static_assertions = "1.1.0"

# Substrate primitives
sp-api = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-block-builder = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-consensus-aura = { version = "0.8.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-core = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-inherents = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-io = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-offchain = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-runtime = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-session = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-std = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-transaction-pool = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
sp-version = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }

# Substrate pallets
frame-executive = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
frame-support = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
frame-system = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
frame-system-rpc-runtime-api = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-aura = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-authorship = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-grandpa = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-im-online = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-randomness-collective-flip = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-sudo = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-offences = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-session = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false, features = ["historical"] }
pallet-timestamp = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-indices = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-balances = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-transaction-payment = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-utility = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-multisig = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-contracts = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-contracts-primitives = { version = "2.0.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }
pallet-contracts-rpc-runtime-api = { version = "0.8.0-rc5", git = "https://github.com/paritytech/substrate", branch = "rococo-branch", default-features = false }

# local runtime module
pallet-contracts-ext = { path = "../../frame/contracts-ext", default-features = false }

jupiter-primitives = { path = "../../primitives", default-features = false }
jupiter-runtime-common = { path = "../common", default-features = false }

[build-dependencies]
wasm-builder-runner = { package = "substrate-wasm-builder-runner", version = "1.0.6" }

[features]
default = ["std"]
std = [
    "codec/std",
    "serde",

    "sp-api/std",
    "sp-block-builder/std",
    "sp-consensus-aura/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-offchain/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",

    "frame-executive/std",
    "frame-support/std",
    "frame-system/std",
    "frame-system-rpc-runtime-api/std",

    "pallet-aura/std",
    "pallet-authorship/std",
    "pallet-grandpa/std",
    "pallet-im-online/std",
    "pallet-randomness-collective-flip/std",
    "pallet-sudo/std",
    "pallet-session/std",
    "pallet-offences/std",
    "pallet-timestamp/std",
    "pallet-indices/std",
    "pallet-balances/std",
    "pallet-transaction-payment/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "pallet-utility/std",
    "pallet-multisig/std",
    "pallet-contracts/std",
    "pallet-contracts-primitives/std",
    "pallet-contracts-rpc-runtime-api/std",

    "jupiter-primitives/std",
    "jupiter-runtime-common/std",
]
