[package]
name = "jupiter-io"
version = "0.2.0"
authors = ["Jupiter <https://github.com/patractlabs/jupiter>"]
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
sp-runtime-interface = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }

[dependencies.curve]
git = "https://github.com/patractlabs/megaclite.git"
package = "megaclite-arkworks"
features = [ "tests" ]

[dependencies.num-bigint]
version = "0.3.1"
default-features = false

[dependencies.num-traits]
version = "0.2.14"
default-features = false

[features]
default = ["std"]
std = [
  "sp-runtime-interface/std"
]
