[package]
name = "jupiter-io"
version = "0.2.0"
authors = ["Jupiter <https://github.com/patractlabs/jupiter>"]
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
sp-runtime-interface = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
megaclite = { git = "https://github.com/patractlabs/megaclite.git" }

[features]
default = ["std"]
std = [
    "sp-runtime-interface/std",
]
