[package]
authors = ['Anonymous']
edition = '2018'
name = 'pallet-template'
version = "2.0.0"
license = "Unlicense"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"
description = "FRAME pallet template for defining custom runtime logic."
readme = "README.md"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false, optional = true }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
frame-system = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
sp-core = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
sp-io = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
sp-std = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false}
hex = { version = "0.4.2", optional = true, default-features = false }

[dependencies.jupiter-io]
package = "jupiter-io"
path = "../../primitives/io"
default-features = false

[dependencies.curve]
package = "megaclite-arkworks"
path = "/Users/mercury/code/megaclite/crates/curve/arkworks"
# git = "https://github.com/patractlabs/megaclite.git"
features = ["tests"]
default-features = false

[dependencies.contract]
package = "pallet-contracts"
path = "../../vendor/substrate/frame/contracts"
default-features = false

[dev-dependencies]
hex = "0.4.2"

[build-dependencies]
wat = "1.0"

[features]
default = ['std']
std = [
	'codec/std',
    'contract/std',
	'frame-support/std',
	'frame-system/std',
    'frame-benchmarking/std',
    'jupiter-io/std',
    'sp-std/std',
]
runtime-benchmarks = [
    "hex",                   
    "frame-benchmarking",
    'frame-system/runtime-benchmarks',
    'frame-support/runtime-benchmarks',
    'contract/runtime-benchmarks',
]
