[package]
name = "patract-chain-extension"
version = "0.1.0"
authors = ["Patract <https://github.com/patractlabs/patract>"]
edition = "2018"

[dependencies]
parity-scale-codec = { version = "2.0.0", features = ["derive"], default-features = false }
hex = { version = "0.4.2", optional = true }

sp-runtime = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
sp-std = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }

frame-support = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
pallet-contracts = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
#pallet-contracts = { path = "../../vendor/substrate/frame/contracts", default-features = false }

patract-io = { path = "../io", default-features = false, optional = true }

[dependencies.curve]
git = "https://github.com/patractlabs/megaclite.git"
package = "megaclite-arkworks"
default-features = false

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "hex",

  "sp-runtime/std",
  "sp-std/std",

  "frame-support/std",
  "pallet-contracts/std",

  "patract-io/std",
]
native-support = [
  "patract-io"
]
