[package]
name = "jupiter-chain-extension"
version = "0.1.0"
authors = ["Patract <https://github.com/patractlabs>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "2.1.0", features = ["derive"], default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc"], optional = true }

# Substrate primitives
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }

# Substrate pallets
frame-support = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
pallet-contracts = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }

# zkMega
curve = { package = "zkmega-arkworks", git = "https://github.com/patractlabs/zkmega.git", branch = "master", default-features = false }

# Jupiter primitives
jupiter-io = { path = "../io", default-features = false, optional = true }

[features]
default = ["std"]
std = [
  "codec/std",
  "hex",

  "sp-runtime/std",
  "sp-std/std",

  "frame-support/std",
  "pallet-contracts/std",

  "jupiter-io/std",
]
native-support = [
  "jupiter-io"
]
