[package]
name = "jupiter-chain-extension"
version = "0.1.0"
authors = ["Patract <https://github.com/patractlabs/patract>"]
edition = "2018"

[dependencies]
parity-scale-codec = { version = "2.0.0", features = ["derive"], default-features = false }
hex = { version = "0.4.2", default-features = false}
log = { version = "0.4.14", default-features = false }

sp-runtime = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
sp-std = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }

frame-support = { version = "3.0.0", git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-contracts = { path = "../../vendor/substrate/frame/contracts", default-features = false }

jupiter-io = { path = "../io", default-features = false, optional = true }

[dependencies.curve]
git = "https://github.com/patractlabs/zkmega.git"
package = "zkmega-arkworks"
default-features = false

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "hex/std",
  "log/std",

  "sp-runtime/std",
  "sp-std/std",

  "frame-support/std",
  "pallet-contracts/std",

  "jupiter-io/std",
]
native-support = [
  "jupiter-io"
]
